name: gaec
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - numba
  - matplotlib
  - pandas
  - pip
  - pip:
      - optuna        # Optional for hyperparameter tuning